---
import CreateFormPost from '../../components/CreatePostForm.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Posts";
---
<BaseLayout pageTitle={pageTitle}>
    <h2>Create Post</h2>
    <CreateFormPost/>
</BaseLayout>